
#secret {
  font-size: 100px;
  position: absolute;
  color: white;
  opacity: 0;
  bottom: 75px;
  left: 800px;
  z-index: 3;
}

#roger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  max-width: 100%;
  height: auto;
}

.homepage-links-section {
  text-align: center;
  color: white;
  font-size: 50px;
}

.homepage-link :hover {
  background-color: rgba(0,0,0,0.4);
}

.homepage-link a {
  text-align: center;
  color: white;
  font-size: 50px;
  text-decoration-line: none;
}

.about-content {
  margin: 0px 250px;
  color: white;
  text-align: center;
}

.about-content h2 {
  margin: 20px;
  text-align: center;
}

.about-content p {
  text-indent: 2em;
  margin: 20px;
  text-align: left;
}

.about-content img {
  margin: 20px;
}

.about-section {
  padding: 30px;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,0.2);
}

.about-section h3{
  font-family: sans-serif;
  color: silver;
}

.day {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width:100%;
}

.Friday,
table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: White;
}

.jorge,
p,
h1 {
  text-align: center;
  color: White;
  font-size: 20px;
}

.Friday,
th {
  font-size: 2em;
}

.Friday,
td {
  font-size: 22px;
}
#kayak {
  font-size: 100px;
  position: relative;
  color: blue;
  opacity: 0;
  z-index: 3;
  bottom: 100px;
}

body {
  background-color: rgb(80, 0, 0);
}

a {
  color: rgb(95, 95, 95);
}

ul {
  font-size: 16px;
}
.irons {
  padding: 2em;
}